###############################################################################
## Monit control file
## {{ ansible_managed }}
###############################################################################
## Start Monit in the background (run as a daemon):
set daemon {{ aspects_monit_check_interval }}
{% if aspects_monit_start_delay is defined %}
## delay start of monit checks.
 with start delay {{ aspects_monit_start_delay }}
{% endif %}

## Configure logging
{% if aspects_monit_logfile is defined %}
set logfile {{ aspects_monit_logfile }}
{% else %}
set logfile /var/log/monit.log
{% endif %}

## set idfile location
{% if aspects_monit_idfile is defined %}
set idfile {{ aspects_monit_idfile }}
{% else %}
set idfile /var/lib/monit/id
{% endif %}

## Set statefile location.
{% if aspects_monit_statefile is defined %}
set statefile {{ aspects_monit_statefile }}
{% else %}
set statefile /var/lib/monit/state
{% endif %}

## Define how monit sends email.
{% if aspects_monit_mailserver is defined %}
set mailserver {{ aspects_monit_mailserver }}
{% else %}
set mailserver localhost
{% endif %}

## Set eventqueue directory.
{% if aspects_monit_eventqueue is defined %}
set eventqueue {{ aspects_monit_eventqueue }}
{% else %}
set eventqueue basedir /var/lib/monit/events slots 100
{% endif %}

{% if aspects_monit_mmonit is defined %}
## Configure M/Monit connection
{{ aspects_monit_mmonit }}
{% endif %}

{% if aspects_monit_mail_format is defined %}
## Set a custom mail-format
{{ aspects_monit_mail_format }}
{% endif %}

{% if aspects_monit_alert_recipients is defined %}
## Send alerts to the following users
{% for item in aspects_monit_alert_recipients %}
set alert {{ aspects_monit_alert_recipients[item] }}
{% endfor %}
{% endif %}

{% if aspects_monit_web_server is defined %}
## Monit webserver configuration.
{{ aspects_monit_web_server }}
{% endif %}

{% if aspects_monit_remote_probes is defined %}
## Ansible generated probes aimed at remote servers.
{% for remoteprobe in aspects_monit_remote_probes %}
{{ aspects_monit_remote_probes[remoteprobe] }}
{% endfor %}
{% endif %}

{% if aspects_monit_local_probes is defined %}
## Ansible generated probes local to this server.
{% for localprobe in aspects_monit_local_probes %}
{{ aspects_monit_local_probes[localprobe] }}
{% endfor %}
{% endif %}

{% if ansible_os_family == "RedHat" and aspects_monit_local_probes_RedHat is defined %}
## RedHat - Ansible generated probes local to this server.
{% for localprobe in aspects_monit_local_probes_RedHat %}
{{ aspects_monit_local_probes_RedHat[localprobe] }}
{% endfor %}
{% endif %}

{% if ansible_os_family == "Debian" and aspects_monit_local_probes_Debian is defined %}
## Debian - Ansible generated probes local to this server.
{% for localprobe in aspects_monit_local_probes_Debian %}
{{ aspects_monit_local_probes_Debian[localprobe] }}
{% endfor %}
{% endif %}

{% if ansible_os_family == "Suse" and aspects_monit_local_probes_Suse is defined %}
## Suse - Ansible generated probes local to this server.
{% for localprobe in aspects_monit_local_probes_Suse %}
{{ aspects_monit_local_probes_Suse[localprobe] }}
{% endfor %}
{% endif %}

## Include any extra configuration that may be created in the conf.d directory.
## Like if another Ansible role depends on aspects_monit, it would create a file
## in the conf.d directory.

######include /opt/monit/conf.d/*

## End Ansible Generated configuration.
## See https://bitbucket.org/tildeslash/monit for the latest monitrc file if you need some examples.
